<div class="card search">
  <h1 class="search-headline"  >Course Registration</h1>
  <label class="search-label" >Search for Course: <span *ngIf='course' [innerHTML] = course ></span> </label>
  <input type="text" [(ngModel)]='course' value='course' class='search-input' >
</div><!-- card search -->

<ul class='courselist cf' *ngIf='course' [@heroState] = 'pin' >
  <li class='courselist-item' *ngFor='let item of (courses | search: course )' 
  [ngClass] = '{ "clicked": item===selectedItem }'>
    <h2 class='course-name' 
    (click) = 'onSelect(item);'
    >{{ item }}</h2>
    <theForm *ngIf='item===selectedItem'></theForm>
  </li>
</ul>





