@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans|Work+Sans');

:host{
  display: flex;
  height: 100%;
}

#nav{
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: orange;
  height: 100%;
}

#mainApp{
  background-color: grey;
  width: 100%;
}

.options{
  list-style: none;
  text-align: center;
  padding: 0;
}

li{
  padding: 20px;
}

a{
  text-decoration: none;

}

