@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans|Work+Sans');


:host{
    display: flex !important;
    justify-content: center;
    margin-top: 30px;
}

input{
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid;
    border-color: #fff;
    border-radius: 10px;
    background-color: #132f6b;
    color: #fff;
    opacity: 0.8;
}

input:focus, select:focus, button:focus{
 outline: none;
}

::-webkit-input-placeholder{
    color:#fff;
}

select{
 margin-bottom: 50px;
 border: solid;
 border-color: #fff;
 border-radius: 10px;
 background-color: #132f6b;
 color: #fff;
 opacity: 0.8;
}

form{
    max-width: 300px;
    flex-direction: column;
    display: flex;
}

#FormContainer{
    display: flex;
    margin-top: 50px;
    flex-direction: column;  
    padding: 10px;      
    animation-name: formelements;
    animation-duration: 4s;
    animation-fill-mode: forwards;    
}

span{
    font-size: 40px;
    padding-bottom: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    animation-name: formelements;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.underline{
    background-color: #fff;
    height: 4px;
    padding: 0; 
    width: 0;
    opacity: 0;
    animation: underline;
    animation-duration: 1s;
    animation-fill-mode: forwards;   
}

@keyframes underline{
    0% { width:0%; opacity: 0; }
    100%{ width:100%; opacity: 1; }
}

@keyframes formelements{
    0% { opacity: 0 }
    100% { opacity: 1}
}

.Title{
    width: 90%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

button{
    width: 80px;
    margin:0 auto;
    height: 30px;
    border-radius: 10px;
    border: solid;
    border-color: #fff;
    background-color:#132f6b ;
    color: #fff;
    opacity: 0.8;
    transition: 0.3s all;
}

button:hover{
    opacity: .6;
    cursor: pointer;
}

input{
    width: 250px;
}

 ::selection{
    background: #0162FF;
}

.Submitted{}