@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

#FormContainer{
    width: 100%;
}

input{
    color: #475B62;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    padding: 10px;
    max-width: 200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

button{
    border-radius: 4px;
    border: 1px solid #C5C5C5;
    padding: 5px;
    background-color: #fff;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.Error{
    display: block;
    color: red;
    font-size: 1rem;
    margin-top:1px;
}