@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans|Work+Sans');

.mediaBoxes{
    display: flex;
    width: 200px;
    flex-direction: column;
    background: #0B9B64;
    border: white;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: #fff;
    }
    
    .contentList{
      display: flex;
      flex-direction: row;
      padding: 0;
      flex-wrap: wrap;
    }
    
    input[type=checkbox]{
      width: 50px;
      height: 50px;
      z-index: 100;
      position: relative;
      opacity: 0;
    }

    span{
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        background-image: url('../assets/AppIcons_Checkbox.png');
        background-size: contain; 
        opacity: 0.5;    
        transition: 0.5s all;
        margin-top: 10px;
    }

    input[type=checkbox]:hover{
        cursor: pointer;
    }

    .customCheckbox{
        width: 50px;
        display: block;
        position: relative;
    }

    input[type=checkbox]:checked ~ span{
      opacity: 1;
    }

    h1{
        font-family: 'acme', sans-serif;
        font-weight: normal;
        margin-bottom: 1px;
    }

    h2{
        font-size: 15px;
        font-weight: normal;
        font-family: 'Work-Sans', sans-serif;
        border-bottom-style: solid;
        border-width: 1px;
        border-bottom-color: #fff;
        margin-top: 0px;
        padding-bottom: 10px;
    }

    h1,h2{
        word-wrap: break-word;
    }

    .delete{
        background-image:url('../assets/AppIcons_Trash.png');
        width: 60px;
        height: 85px;
        background-size: cover;
        transition: 0.2s all;
    }
    
    .delete:hover{
        cursor: pointer;
        animation-name: trash;
        animation-duration: .4s;
        animation-iteration-count: 2;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    @keyframes trash{
        0% { background-image: url('../assets/AppIcons_Trash.png'); }
        25% { background-image: url('../assets/AppIcons_TrashLeft.png'); }
        75% { background-image: url('../assets/AppIcons_Trash.png'); }
       100% { background-image: url('../assets/AppIcons_TrashRight.png'); }
    }


    .search{
        position: absolute;
        width: 100px;
        right: 0;
        padding: 40px 40px 0 40px;
        height: 45px;
        animation: search;
        animation-duration: 4s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .searchIcon{
        position: absolute;
        background-image: url('../assets/SearchIcons/AppIcons_SearchA.png');
        width: 60px;
        height: 60px;
        background-size: cover;
        z-index: 102;
    }

    .searchbox{
        top: 15px;
        width:10px;
        left:20px;
        height: 25px;
        position: relative;
        z-index: 101;
        border-radius: 10px;
        border:solid;
        border-color: #D36F0B;
        background-color: #EF913C;
        transition: 0.2s all;
        color: #fff;        
    }

    .searchIcon:hover{
       cursor: pointer;
    }

    .searchIcon:hover~.searchbox{
        width: 150px;
        left:-120px;
    }

    .searchbox:hover{
        width: 150px;
        left:-120px;
    }

    .searchbox:focus{
        width: 150px;
        left:-120px;
        outline: none;
    }

    @keyframes search{
        0% { opacity: 0}
        100% { opacity: 1 }
    }

    @media screen and ( min-width: 768px ){
        
    }
