@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.mediaBoxes{
    display: flex;
    width: 200px;
    flex-direction: column;
    background: #ffffff;
    border: #d8d8d8;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: #9e9e9e;
    box-shadow: 0px 0px 2px #d8d8d8;
    }
    
    .contentList{
      display: flex;
      flex-direction: row;
      padding: 0;
      flex-wrap: wrap;
    }
    
    input[type=checkbox]{
      width: 50px;
      height: 50px;
      z-index: 100;
      position: relative;
      opacity: 0;
    }

    .customCheckbox span{
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        background-image: url('../assets/Checks/AppIcons_Unchecked.png');
        background-size: contain; 
        transition: 0.5s all;
        margin-top: 10px;
    }

    input[type=checkbox]:hover{
        cursor: pointer;
    }

    .customCheckbox{
        width: 50px;
        display: block;
        position: relative;
    }

    input[type=checkbox]:checked ~ span{
      animation: checkAnimation;
      animation-duration: .3s;
      animation-fill-mode: forwards;
    }

    @keyframes checkAnimation{
        0%{ background-image: url('../assets/Checks/AppIcons_Unchecked.png'); }
        8%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeA.png'); }
        16%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeB.png'); }
        24%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeC.png'); }
        32%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeD.png'); }
        40%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeE.png'); }
        48%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeF.png'); }
        56%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeG.png'); }
        64%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeH.png'); }
        72%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeI.png'); }
        80%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeJ.png'); }
        88%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeK.png'); }
        100%{ background-image: url('../assets/Checks/AppIcons_CheckAnimeL.png'); }
    }

    h1{
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        margin-bottom: 1px;
    }

    h2{
        font-size: 15px;
        font-weight: normal;
        font-family: 'Work-Sans', sans-serif;
        margin-top: 0px;
        padding-top: 10px;
    }

    h1,h2{
        word-wrap: break-word;
    }

    .delete{
        background-image:url('../assets/AppIcons_Trash.png');
        width: 60px;
        height: 85px;
        background-size: cover;
        transition: 0.2s all;
    }
    
    .delete:hover{
        cursor: pointer;
        animation-name: trash;
        animation-duration: .4s;
        animation-iteration-count: 1;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        padding-top: 20px;
    }

    @keyframes trash{
        0% { background-image: url('../assets/AppIcons_Trash.png'); }
        25% { background-image: url('../assets/AppIcons_TrashLeft.png'); }
        75% { background-image: url('../assets/AppIcons_Trash.png'); }
       100% { background-image: url('../assets/AppIcons_TrashRight.png'); }
    }


    .search{
        position: fixed;
        width: 100px;
        right: 0;
        padding: 40px 40px 0 40px;
        height: 45px;
        animation: search;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .searchIcon{
        position: absolute;
        background-image: url('../assets/SearchIcons/AppIcons_SearchA.png');
        width: 60px;
        height: 60px;
        background-size: cover;
        z-index: 104;
    }

    .searchbox{
        top: 15px;
        width:10px;
        left:20px;
        height: 25px;
        position: relative;
        z-index: 103;
        border-radius: 10px;
        border:solid;
        border-color: #D36F0B;
        background-color: #EF913C;
        transition: 0.2s all;
        color: #fff;        
    }

    .searchIcon:hover{
       cursor: pointer;
    }

    .searchIcon:hover~.searchbox{
        width: 150px;
        left:-120px;
    }

    .searchbox:hover{
        width: 150px;
        left:-120px;
    }

    .searchbox:focus{
        width: 150px;
        left:-120px;
        outline: none;
    }

    @keyframes search{
        0% { opacity: 0}
        100% { opacity: 1 }
    }

    .Top{
        display: flex;
        flex-direction: column;
        padding-bottom:20px;
        border-bottom-style: solid;
        border-width: 1px;
        border-bottom-color: #9e9e9e;
    }

    img{
        width: 50%;
        height: 50%;
        box-shadow: 0px 0px 2px #d8d8d8;
        border-style: solid;
        border-width:2px;
    }

    .rating{
     display: flex;
     width: 50%;
     padding-left: 10%;
    }

    .imagebox{
        display: flex;
        flex-direction: row;
    }

    @media screen and ( max-width: 768px ){
         .search{
             padding: 20px 0 0 0;
             width:70px;
             position: fixed;
         }
    }
